
.m-t-lg {
    margin-top: 30px;
}

.item {
    font-size: 1.8em;
}

.item label {
    width: 25%;
    text-align: center;
}

.item p {
    width: 40%;
    display: inline-block;
    text-align: center;
}

/*.item p:before {*/
    /*content: '_______ ';*/
/*}*/

.operation {
    display: inline-block;
}

.gray-border {
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      background: #f4f4f4;
  }

.info-center-block {
    width: 50%;
    margin: 60px auto auto auto;
    display: block;
}

.info-center-block h2 {
    margin: 20px 20px;
}


.asset {
    width: 50%;
    margin: 0 auto;
}